.module-header {
  display: grid;
  grid-template-columns: 10% 60% 15% 15%;
  font-weight: bold;
  border-bottom: 2px solid #dee2e6;
  padding: 0.5rem 1.25rem;
}

.header-item {
  padding: 0.5rem;
}

.module {
  .module-item {
    display: grid;
    grid-template-columns: 10% 60% 15% 15%;
    border-bottom: 1px solid #dee2e6;
    padding: 0.1rem 0.5rem;
    align-items: start;

    >div {
      padding: 0.5rem;
    }

    >div:nth-child(3),
    >div:nth-child(4) {
      text-align: center;
    }
  }
}

.main-content .module,
.module {
  @extend %card;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-top: $sp-4;
    }
  }

  >dl {
    border-bottom: $border $border-color;
    border-top: $border $border-color;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin: $sp-2 (
      -$sp-4
    );

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(lg) {
    grid-template-columns: 1fr 7fr;
  }

  %module-item {
    margin: 0;
    padding: $sp-2;

    @include mq(sm) {
      padding: $sp-2 $sp-4;
    }
  }

  >dt {
    @extend %module-item;
    border-top: $border $border-color;
    font-weight: normal;
    text-align: right;

    +dd {
      border-top: $border $border-color;
    }

    &:first-child {
      border-top: none;

      +dd {
        border-top: none;
      }
    }

    &::after {
      content: ":";
    }
  }

  >dd {
    @extend %module-item;

    +dd {
      padding-top: 0;
    }

    ol,
    ul,
    dl {
      margin: 0;
    }

    dl {
      display: flex;
      flex-direction: column;

      @include mq(sm) {
        flex-direction: row;
      }

      dt {
        flex: 0 0 62.5%;
        font-weight: normal;
        margin: 0;
      }

      dd {
        margin: 0;
      }
    }
  }
}
}


// @media (max-width: 768px) {
//   .module-header {

//     .header-item:nth-child(3),
//     .header-item:nth-child(4) {
//       display: none;
//     }
//   }

//   .module .module-item {
//     grid-template-columns: 25% 75%;

//     >div:nth-child(2) {
//       display: flex;
//       flex-direction: column;
//     }

//     >div:nth-child(3) {
//       display: contents;
//     }

//     >div:nth-child(4) {
//       display: contents;
//     }
//   }
// }


@media (max-width: 768px) {



  .module-header {
    grid-template-columns: 25% 75%;

    .header-item:nth-child(3),
    .header-item:nth-child(4) {
      display: none;
    }
  }



  .module .module-item {
    grid-template-columns: 25% 75%;

    >div:nth-child(1) {
      grid-row: 1;
      grid-column: 1;
    }

    >div:nth-child(2) {
      grid-row: 1;
      grid-column: 2;
    }

    >div:nth-child(3) {
      grid-row: 2;
      grid-column: 2;
      text-align: left;
      padding-top: 0;
    }

    >div:nth-child(4) {
      grid-row: 2;
      grid-column: 2;
      text-align: left;
      padding-top: 0;
      // This will make the lab appear after the homework
      margin-left: 4rem;
    }
  }
}